/*import fonts from fonts.css file*/ 

@import url(./fonts.css); 

@import url(./partials/_variables.css);

@import url(./partials/_global.css); 

/*start navigation*/ 

.popover{
    max-width: 100%; 
}

.navbar-toggler {
    padding: 1.7em 20px ; 
}
.navbar-nav {
    text-align: center;
}
.nav-item { 
    color: rgb(0, 255, 0);  
}

.nav-item.nav-link {
    font-family: var(--Cormorant); 
    text-transform: none; 
    font-weight: 500; 
    padding: 1.7rem ; 

}
.nav-item.nav-link:hover { 
    color: white ; 
    transition: background .6s ease; 
}
.navbar.navbar-dark.bg-dark {
    padding: 1rem 10rem; 
}
.btn-outline-success {
    color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 42); 
    transition: background .6s ease; 
  
}
.btn-outline-success:hover {
    background-color: rgb(85, 108, 129);
    border-color: rgb(0, 255, 13);
}

.btn.btn-outline-success.my-2.my-sm-0:active {
    background-color: rgb(30, 255, 0); 
    border-color: white;  
    outline:aqua auto 5px; 
}
.btn.btn-outline-success.my-2.my-sm-0:focus {
    outline:aqua auto 5px; 
}
.form-control { 
    border-color: aqua; 
}
.form-control:hover{ 
    background-origin: rgb(85, 108, 129);
}
.d-inline-block.align-top
{
    border-radius: 5px;
}

/*end navigation*/ 


/*Banner Area*/ 

.title-text.text-uppercase {
    margin-top: 10%;
    margin-right: 10%; 
    margin-left: -10%; 
    font-size: large;
}

.title-text {
    margin-right: 10%; 
    margin-left: -10%; 

}

.img-fluid{
    margin-top: 10%; 
}

.col-lg-6.col-md-12.about-title {
    margin-top: -30%; 
    margin-left: 48%;

}

.site-banner {
    margin-left: 30px;

}

.col-lg-6.col-md-12.site-title > img{
    padding: 0rem 0rem; 
    padding-right: 0%;
    width: 100%;
    height: auto; 
}
/*End Banner Area*/ 

/*Start About Area*/ 

.What-we-are-about {
    margin-top: 4%; 
}

.about-area{ 
    padding-top: 15%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.text-uppercase.pt-5{
    font-style: var(--Cormorant);
    letter-spacing: 20px ; 
}

.para { 
    font-style: var(--Cormorant);
}

.carousel-caption.d-none.d-md-block.BO {
    color: whitesmoke;
}

/*End About Area*/

.apple-link > img {
    height: 63px; 
    width: 10%; 
    margin-top: 20%;
    margin-left: 80%; 
    margin-bottom: 0%;
}

.details { 
    margin-top: 21% ; 
}

.call-now {
    margin-top: 0.7% ; 
    margin-bottom: 10%; 
    margin-left: 1%
}
.text-uppercase.h4.font-Cormorant{
    color:rgb(0, 255, 0);
}





